---
import type { Participants } from "astro:db";
import DeleteButton from "../../components/deleteButton.astro";
import Input from "../../components/mini/input.astro";
import SubmitButton from "../../components/submitButton.astro";
import Modal from "../../layouts/Modal.astro";

interface Props {
  participants: (typeof Participants.$inferSelect)[];
}

const { participants } = Astro.props;
---
<ul id="openEditParticipantModal">
  {participants.map((p) =>
  <button id={p.id.toString()} class="border-b border-gray-500 p-2 w-full text-left text-sm"
          data-id={p.id.toString()} data-name={p.name} data-email={p.email}
  >
    {p.name} ({p.email || "?"})
  </button>
  )}
</ul>

<Modal title="Edit Participant" openModalId="openEditParticipantModal">
  <form
    hx-post="/server/participant/update"
    hx-swap="none"
    >
    <Input id="modal-id" name="id" title="Id" class="hidden" type="text" value="init" />
    <Input class="rounded-t-lg" id="modal-name" name="name" title="Name" type="text" value="init" validateUrl="/server/participant/validate" />
    <Input id="modal-email" name="email" title="Email" type="text" value="init" validateUrl="/server/participant/validate" />

    <DeleteButton url="/server/participant/delete" />
    <SubmitButton>Ok</SubmitButton>
  </form>
</Modal>

<script is:inline>
  var itemList = document.getElementById('openEditParticipantModal');

  itemList.addEventListener('click', function(e) {
    const properties = ["id", "name", "email"];

    // transfer the task properties from the button metadata into the modal inputs
    properties.forEach((property) => {
      var value = e.target.getAttribute(`data-${property}`);
      document.getElementById(`modal-${property}`).value = value;
    })
  });
</script>
