---
import Layout from "./Layout.astro"
import ChevronLeftIcon from "../components/mini/arrowLeft.astro"
import ChevronRightIcon from "../components/mini/arrowRight.astro"
import Toast from "../components/toast.astro"
import AnimationStyle from "astro-vtbot/animations/AnimationStyle.astro";
import { extend, styleSheet } from 'astro-vtbot/animations/animation-style';
import { move, customMove } from 'astro-vtbot/animations/move';

const { scope: move1Scope, styles: move1Styles } = styleSheet({
	transitionName: 'move1',
	animations: extend(move({ duration: '0.8s', direction: "backward" })),
	scope: undefined,
});

const { scope: move2Scope, styles: move2Styles } = styleSheet({
	transitionName: 'move2',
  animations: extend(move({ duration: '0.8s', direction: "normal" })),
	scope: undefined,
});

interface Props {
  left?: string;
  right?: string;
  title: string
  children: any[]
}

const { left, right, title } = Astro.props;
---
<script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.min.js"></script>
<AnimationStyle name="move1" />
<AnimationStyle name="move2" />
<style set:text={move1Styles + move2Styles}></style>
<Layout>
  <div class="flex min-h-screen items-center" transition:animate="none">
      <div class="mx-auto my-auto">
      <div class="mb-4 flex w-96 sm:w-80">
        {left ? <div id="leftId" class="flex" aria-label="Go Left" data-link={left} data-scope={move1Scope}>
          <ChevronLeftIcon class="h-7 w-7 self-center mr-2" />
        </div> : <div class="flex">
          <div class="h-7 w-7 self-center mr-2" />
        </div>}

        <div id="centerMain" class="w-full h-96 transition-all duration-700 transform ease-out"><!-- class="w-full h-96 transition-all duration-700 transform ease-out"> -->
          <div class="mb-4">
            <div class="w-full dark:bg-gray-900 bg-gray-100 dark:border-gray-800 p-2 rounded-lg text-center border"
>
              {title}
            </div>
          </div>
          <div class="rounded-lg border dark:bg-gray-900 bg-gray-100 dark:text-gray-100 text-gray-900 dark:border-gray-800 border-gray-200 h-80">
              <slot />
          </div>
        </div>

        {right ? <div id="rightId" class="flex" aria-label="Go Right" data-link={right} data-scope={move2Scope}>
            <ChevronRightIcon class="h-7 w-7 self-center ml-2" />
        </div> : <div class="flex">
            <div class="h-7 w-7 self-center ml-2" />
        </div>}
      </div>
      <Toast />
    </div >
  </div>
</Layout>

<script>
 import { navigate } from 'astro:transitions/client';

 function activateButtons() {
const goRightButton = document.getElementById('rightId');
 const goLeftButton = document.getElementById('leftId');
 const target = document.getElementById('centerMain')!;


   goLeftButton?.addEventListener("click", () => {
   console.log("navigate left")
   target.dataset.astroTransitionScope=goLeftButton.dataset.scope
   navigate(goLeftButton.dataset.link!, {history: "push"})
})

goRightButton?.addEventListener("click", () => {
   console.log("navigate right")
   target.dataset.astroTransitionScope=goRightButton.dataset.scope
   navigate(goRightButton.dataset.link!, {history: "push"})
})
 }
activateButtons()
document.addEventListener(
  "astro:after-swap",
  () => {
    console.log("activating buttons after transition")
    activateButtons()
  },
  { once: false }
);
</script>

<script is:inline>
document.addEventListener(
  "astro:after-swap",
  () => {
    console.log("loading after transition")
    htmx.process(document.body || null)
  },
  { once: false }
);
</script>
